
* {
    font-family: 'Times New Roman', Times, serif;
    padding: 6px;
    margin: 9px;
    /* border: solid 2px; */
  }

  .rollover:hover {
    background: goldenrod;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  a:link {
    display: flex;
    max-width: fit-content;
    flex-direction: center;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;
  }

header {
  display: flex;
  border: solid 3px goldenrod;
  justify-content: center;
  align-items: center;
  position: relative;
  text-shadow: 8px 8px 12px black;
  flex-wrap: wrap;
  color: goldenrod;
  text-align: center;
  background-image: url(/images/Glittering-Landscape.png);
  opacity: 0.85;
  
  }

header h1 {
  color: goldenrod;
  text-shadow: 2rem;
  font-size: 50px;
  align-content: center;
}

header img {
  display: flex;
  text-align: center;
  opacity: 0.8;
  border-radius: 50%;
}

  /* Container1 is Navigation links */
  .container1 {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    border: solid 3px goldenrod;
    font-weight: bold;
    font-size: 39px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px black;
  }

  /* This declaration helps to create the hover affect for the links and its separated from the other declarations */
  .container1 a:hover {
    color: goldenrod;
   }
  
  .container1, .item {
    display: flex;
    color: goldenrod;
    background-color: aliceblue;
    justify-content: space-around;
    /* width: fit-content; */
   } 
   /* This is a quick introduction  */
   .nice {
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
    position: relative;
  
   }

   .intro {
    margin: 1em 0;
    bottom: 10px;
    padding: 2em;
    box-shadow: 2px 3px 20px black, 0 0 30px #8a4d0f inset;
    background: #fffef0;
    text-align: center;
    color: goldenrod;
    width: 60%;
   }

 
 h2 {
   display: flex;
   flex-direction: row;
  }

 .item a {
    
    display: flex;
    flex-direction: row-reverse;
}

 .content2 {
  display: flex;
  text-align: right;
 
}

 .content2 img {
  border: 1px solid gold;
  border-radius: 18px;
}

  /* This is the start of Projects which includes the large picture of the main web application */
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: underline; 
  color: goldenrod;
  margin: 15px;
 }

  .content1 {
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 8px black;
    background-color: aliceblue;
    border: solid 3px goldenrod;
    color: goldenrod;
    width: 100%;
    margin-top: 15px;
  }

  .content1 .image1 {
    display: flex;
    flex-shrink: 2em;
    border: solid 3px goldenrod;
    justify-content: center;
    align-items: center;

  }

  .image1 h2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: goldenrod;
    width: 60%;
  }

  /* This is the beginning of the main - Work section */
  .bigBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
   }
  
  .box {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 48px;
    text-shadow: 2px 2px 8px black;
    border: solid 3px goldenrod;
    background-color: aliceblue;
    text-decoration: underline;
    color: goldenrod;
   }

   .item2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
   }

  .box .item2 {
    display: inline;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    border: solid 3px goldenrod;
   }

   /* This is the start of main section - About Me backstory */
  .content3 {
    display: flex;
    flex-direction: column;
    
  }

  
 .content3 h2 {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  text-shadow: 2px 2px 8px black;
  text-align: center;
  border: solid 3px goldenrod;
}

  .John {
    display: flex;
    flex-direction: column;
    color: goldenrod;
    font-size: 39px;
    text-decoration: underline;
  }

  .story {
    padding: 1px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: large;
    flex-wrap: wrap;
  }

  /* This is the final section labeled Footer including contact links */
  footer {
    margin-top: 60px;
  }

  .container3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 39px;
    text-shadow: 2px 2px 8px black;
    border: solid 3px goldenrod;
    background-color: aliceblue;
    text-decoration: underline;
    color: goldenrod;
  }

  .envelopes {
    margin: 1em 0;
    bottom: 10px;
    padding: 1em;
    box-shadow: 2px 3px 20px black, 0 0 30px #8a4d0f inset;
    background: #fffef0;
    text-align: center;
    color: goldenrod;
  }

 .container3 .envelopes {
    display: flex;
    color: goldenrod;
    align-items: center;
  }

  
/* adjusted for 992px or smaller */
@media screen and (max-width: 992px) {
  body {
    width: 100%;
    background: linear-gradient(steelBlue, silver)
  }
  
  header {
    background-image: url(/images/Glittering-Landscape.png);
    background: linear-gradient(steelBlue, silver);
  }
}

/* tags are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  header {
    background: linear-gradient(steelBlue, silver);
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 100%;
  }
  header {
    background: linear-gradient(steelBlue, silver);
  }
}

